<div class="container-sm">
  <h1>Welcome, Admin!</h1>
  <div class="flex d-flex">
    <div class="col-5">
      <%= link_to 'View All Lessons', lessons_path, class:"btn big-box border-1" %> <br>
      <%= link_to 'Create New Lesson ', lessons_new_path, class:"btn sml-box  btn-secondary border-2", style: "color:#2f25b7" %> <br>
    </div>
    <div class="col-5">
      <%= link_to 'Create New Batch', batches_new_path, class:"btn sml-box btn-secondary border-3" %> <br>
      <%= link_to 'View All Batches', batches_path, class:"btn big-box border-4" %> <br>
    </div>
  </div>
</div>