<h1> Lessons#show </h1>
<p> Find me in app/views/lessons/show.html.erb </p>

<h2> <%= @lesson.title %> </h2>
<h2> <%= @lesson.content %> </h2>
<h2> Batch List </h2>
<h2> Video URL </h2>
<h2> Doc URL </h2>